<% include layout/top.ejs %>

    <div class="breadcrumbs breadcrumb-two-thirds">
        <ol>
            <li><a href="/">Home</a></li>
            <li>Defra service</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <% if (parsedAuthzRoles.flat.length) { %>
            <h3 class="heading-large">
                You currently have the following roles:
            </h3>
            <pre><%= JSON.stringify(parsedAuthzRoles.flat, null, '\t') %></pre>
            <% }else{ %>
            <h3 class="heading-large">
                You currently have no roles with this service
            </h3>
            <% } %>

            <h3 class="heading-large">Choose your enrolment status</h3>

            <form method="post">
                <select name="enrolmentStatusId">
                    <option value="1">Incomplete</option>
                    <option value="2">Pending</option>
                    <option value="3">Complete - approved</option>
                    <option value="4">Complete - rejected</option>
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</main>
