<% include ./layout/top.ejs %>

    <div class="breadcrumbs breadcrumb-two-thirds">
        <ol>
            <li><a href="/">Home</a></li>
            <li>Defra service</li>
        </ol>
    </div>

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge2">Welcome to a defra service</h1>

            <div>
                <section class="intro">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, </p>

                    This service can be used to:
                    <ul class="list-bullet">
                        <li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex</li>
                        <li>ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</li>
                    </ul>

                    <br>

                    <div class="panel">
                        <p>This page is also available in Welsh (<a href="#">Cymraeg</a>).</p>
                    </div>

                    <br>

                    <div>
                        <p><a class="button button-start"
                              href="<%= idm.generateAuthenticationUrl('/account', {forceLogin: false}) %>"
                              role="button">Start
                                now</a></p>
                    </div>

                    <div>
                        <p><a class="button button-start"
                              href="<%= idm.generateAuthenticationUrl('/account', {forceLogin: true}) %>" role="button">Start
                                now (Force login)</a></p>
                    </div>
                </section>

                <br>

            </div>

        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-medium">Useful links</h2>
                <ul class="font-small">
                    <li>
                        <a href="#">Velit esse cillum dolore eu fugiat nulla pariatur</a>
                    </li>
                    <li>
                        <a href="#">Excepteur sint occaecat cupidatat non
                            proident</a>
                    </li>
                    <li>
                        <a href="#">Sunt in culpa qui officia</a>
                    </li>
                </ul>

                <h2 class="heading-medium-column">Support</h2>
                <ul class="font-small">
                    <li>
                        Helpdesk: 0300 123 4567
                    </li>
                    <li>
                        <a href="#">Helpdesk mailbox</a>
                    </li>
                </ul>
            </aside>
        </div>

        <div class="column-two-thirds">
            <br>
            <br>
            <div>
                <p><a href="#" class="link-gray">Is there anything wrong with this page?</a></p>
            </div>
        </div>

    </div>

<% include ./layout/bottom.ejs %>
