<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>IdM
        <% if (title) { %> - <%= title %>
        <% } %>
    </title>

    <link rel="stylesheet" media="screen" href="/stylesheets/fonts.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/application.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/govuk-template.css"/>

    <style type="text/css">
        pre {
            border: 1px solid #ccc;
            padding: 10px;
            background: #eee;
        }
    </style>

</head>

<body class="">

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="/" title="Go to the GOV.UK homepage" id="logo" class="content" style="padding-left: 45px; padding-top: 5px;">GOV.UK - Service</a>
            </div>

        </div>
        <div class="header-proposition">
            <div class="content">
                <nav id="proposition-menu">
                    <% if (typeof claims !== 'undefined' && claims) { %>
                        <a class="button" href="/logout" role="button" style="float: right;">Log out</a>

                        <a href="<%= idm.getConfig().identityAppUrl %>/account-management" role="button" style="float: right; color: white; margin: 5px 10px 0 0;">Your
                            Account</a>
                    <% } %>

                    <a href="/account" role="button" style="float: right; color: white; margin: 5px 10px 0 0;">Protected Area</a>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--end header-->

<div id="global-header-bar"></div>

<div class="site-wrapper">
    <main id="content" role="main">

        <div class=" grid-row">
